/* Some tablets mis-report orientation, leaving white at bottom: */
body { background-color: #d1d1d1;}

h2 {
    border-bottom: 1px solid #b3b3b3;
    font-size: 1.4em; /* 1.6em; */
    font-weight: normal;
    margin: 0.3em 0px 0.6em 0px; 
    padding-bottom: 0.1em;
    color: #114a80;
}
h3 { 
    font-size: 1em;
    font-weight: bold;
    margin: 0.8em 0px 0.5em 0px;
    text-shadow: #FFFFFF 0px 1px 1px;
}
code { 
    font-weight: bold; 
    font-size: 1.1em;
    color: #114a80;
}
blockquote {
    color: #767573;
    font-style: normal;
    margin-left: 25px; 
    padding-left: 10px;
    position: relative;
    text-shadow: #FFFFFF 0px 1px 0px;
}
blockquote code {
    color: #ce7929;
}
blockquote p {
    padding: 0;
    font-size: 0.8em;
}
blockquote::before {
    font-style: normal;
    content: '\201C';
    font-size: 400%; 
    font-family: Georgia, Palatino, 'Times New Roman', Times;;
    position: absolute;
    left: -20px;
    top: -0.3em;
    color: #cecece;
}
#deviceinfo {
    border-collapse: collapse;
    width: 95%;
    margin: 20px auto;
}
#deviceinfo tr th.alt, #deviceinfo tr td.alt {
    text-align:left;
}
#deviceinfo, th, td {
    border: 1px solid #0c4982;
}
#deviceinfo th {
    font-size:1.15em;
    padding-top:4px;
    padding-bottom:4px;
    background-color:#7ba3c9;
    color:#f0f0f0;
    text-shadow: none;
    height: 1.3em;
}
#deviceinfo td, #deviceinfo th {
    padding:3px 7px 2px 7px;
    vertical-align:bottom;
    text-align:right;
}


.ui-header .ui-title {
    margin-right:20px;
    margin-left:20px;
}

@media all and (min-width: 500px) and (orientation:landscape), 
                (min-width: 800px) and (orientation:portrait) 
                {   
/*  h1 { color: #f00; }   FOR TESTING */
    h2 {
        font-size: 1.2em;
        margin: 0.2em 0px 0.3em;
    }  
}
@media all and (min-width: 800px){
/*  h1 { color: #0f0; }  FOR TESTING */
    h2 {
        border-bottom: 2px solid #b3b3
        b3;
        font-size: 2.0em;
        margin: 0.6em 0px 0.8em;
        font-weight: bold;      
    }
    
    blockquote { 
        padding-left: 20px;
    }
    blockquote p {
        font-size: .9em;
    }
     
    
}

@media all and (min-width: 1200px){
        
    #deviceinfo {
        width:60%;
    }
    #deviceinfo td, #deviceinfo th {
        font-size: 1.1em;
    }
}